<h1>Invitado</h1>

{{name}} {{lastName}}
 <br>
  {{date}}
  <br>
  Invitado por: {{invitedBy.[0].name}} {{invitedBy.[0].lastName}}
  
<br>
<a href="/remove-guest/?code={{code}}"><input type="submit" value="Borrar"></a>

<br>
<br>
<a href="/guestchecker">Buscar invitado</a>

<br>
<br>
<a href="/logout">Logout</a>