<h1>Invitado</h1>

{{name}}
<br>
 {{lastName}}
 <br>
  {{date}}
  {{invitedBy.name}} {{invitedBy.lastName}}
  

<a href="/remove-guest/?code={{code}}"><input type="submit" value="Borrar"></a>

<br>
<br>
<a href="/guestchecker">Buscar invitado</a>

<br>
<br>
<a href="/logout">Logout</a>