<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href="#"><img class="imgindex" src="/images/logo.png" alt="">
          <p>Perfil de Checker</p>
        </a></li>
      <li>
        <a href="#"> {{checker.name}} {{checker.lastName}}</a>
  </div>
  </li>
  </div>

  <div class="uk-navbar-right">

    <ul class="uk-navbar-nav">
      <li>
        <a href="/">Logout</a>
      </li>
    </ul>

  </div>

</nav>



<br>
<br>
<div class="paddinggeneral">
  <div class="uk-panel uk-flex">
    <div class="uk-align-center">
    <div class="uk-card uk-card-default">
      <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>

          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">{{name}} {{lastName}}</h3>
            <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">{{date}}</time></p>
          </div>
        </div>
      </div>
      <div class="uk-card-body">
        <p>{{name}} {{lastName}}</p>
      </div>
      <div class="uk-card-footer">
        <a href="/remove-guest/?code={{code}}" class="uk-button uk-button-text" type="submit"
          value="borrar">checkout</a>
        <a href="/guestchecker" class="uk-button uk-button-text" type="submit" value="">buscar invitado</a>
      </div>
    </div>
    </div>
  </div>
</div>