
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Perfil de Staff</a></li>
            <li>
                <a href="#"> Bienvenido {{staff.name}} {{staff.lastName}}</a>
        </div></li>
            
        </ul>

    </div>

    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="../create-student">Crear estudiante</a></li>
            <li>
                <li class="uk-active"><a href="../invite-guest">Invita a alguien</a></li>
            <li>
                  <li class="uk-active"><a href="../edit-staff">Edita tu perfil</a></li>
            <li>
                
          
            <li><a href="/logout">Logout</a></li>
        </ul>

    </div>

</nav>



<br>
<br>

<div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
    {{#each student as |user|}}
    <div>
        <div class="uk-card uk-card-hover uk-card-default uk-card-small uk-card-body uk-card-primary">
            <h3 class="uk-card-title uk-card-primary"></h3>
           

    <h3>{{user.name}} {{user.lastName}} - <b>{{{user.role}}}</b> </h3>
    <p>{{user.email}}</p>
   <p><a href="/delete-student/{{this._id}}"><input type="submit" value="Delete"></a> </p>



        </div>
    </div>
    {{/each}}


<div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
    {{#each guest as |user|}}
    <div>
        <div class="uk-card uk-card-hover uk-card-default uk-card-small uk-card-body uk-card-secondary">
            <h3 class="uk-card-title uk-card-secondary"></h3>
           

    <h3>{{this.name}} {{this.lastName}} - <b>INVITADO</b> </h3>
        <p><b>{{{this.date}}}</b></p> 
    <p>{{user.email}}</p>
   <p><a href="/delete-guest/{{this._id}}"><input type="submit" value="Borrar"></a> </p>



        </div>
    </div>
    {{/each}}